*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "montserrat",sans-serif;
}
.container{
    width: 600px;
    margin: auto;
    background-color: red;    
    padding: 1rem;   
}
.row{
    display: flex;
    justify-content: space-between;
}
.kutu{
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 30px;
    margin: 30px;  
    display: flex;
    align-items: center;  
    justify-content: center;
    color: white;
}