*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ust{
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
#menu{
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #fed132;
    display: flex;
    align-items: center;
    width: 300px;
    z-index: 2222;
    height: 100%;
    justify-content: center;
    transition: 0.5s;
    display: none;
}
#menu li{
    display: block;
    padding: 30px;
}
#slider{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 100px;
}
#urun{
    background-color: red;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#resim{
    width: 100%;
    height: 70%;
    background-color: blueviolet;
}
#content{
    display: flex;
}
#adı{
    margin-right: 30px;
}
#sepet{
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fed132;
    display: flex;
    align-items: center;
    width: 300px;
    z-index: 2222;
    height: 100%;
    justify-content: center;
    transition: 0.5s;   
    display: none;
}