*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
h2, input{
    margin: 15px 0;
}
input{
    height: 30px;
    width: 150px;
}