*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#card{
    height: 700px;
    width: 400px;
    border: 1px solid #f3f3f3;
}
ul{
    list-style: none;
}
#alt-card{
    padding: 20px;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #f3f3f3;   
    min-height: 100px;
}
button{
    padding: 10px;
}
i{
    padding-left: 10px;
}
#photo{
    width: 100%;
    height: auto;
}