*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aqua;
    flex-direction: column;
}
h1{
    margin-bottom: 20px;
}
#kutu{
    width: 1000px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#days, #hours, #seconds, #minutes{
    width: 22%;
    height: 150px;
    margin: 0 20px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}